# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Secrets
.env

# Personal receipt data
data/price_comparison_structure.xlsx
data/
#receipts/ticket.jpg
receipts/
#output/ticket.json
output/

# IDE
.idea/
.vscode/